/*===== LOCAL FONTS =====*/
@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy Normal";
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Dubiel Normal";
  src: url("../fonts/Dubiel.ttf");
}

/*===== FONTS =====*/
:root {
  --bold-font: "Gilroy Bold", sans-serif;
  --normal-font: "Gilroy Normal", sans-serif;
  --dubiel-font: "Dubiel Normal", sans-serif;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--normal-font);
  color: #fff;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.to__top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 22222222;
}

.to__top i {
  color: white;
  font-size: 35px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.to__top i:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

header {
  width: 100%;
  padding-top: 40px;
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8vh;
  font-family: var(--normal-font);
}

header nav .logo {
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

header nav .nav-links li {
  list-style: none;
}

header nav .nav-links li a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

header nav .heart-card {
  position: relative;
}

header nav .heart-card i {
  color: #ffffff;
  font-size: 40px;
}

header nav .heart-card span {
  display: block;
  width: 21px;
  height: 17px;
  background-color: #eccc5a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: -10px;
}

header nav .heart-card span p {
  font-size: 9px;
  font-weight: bold;
  color: #000;
}

header nav .burger {
  display: none;
}

header nav .burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.a__main {
  width: 100%;
  min-height: 700px;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, black), to(rgba(0, 0, 0, 0.3))), url(../images/main-background.png);
  background-image: linear-gradient(-90deg, black 50%, rgba(0, 0, 0, 0.3)), url(../images/main-background.png);
  background-size: 150%;
  background-position: top;
  overflow: hidden;
  position: relative;
}

.a__main .bg__main {
  position: absolute;
  width: 281.26px;
  height: 437.78px;
  left: 6.94px;
  top: 231px;
  mix-blend-mode: luminosity;
  opacity: 0.2;
  -webkit-transform: rotate(10.52deg);
          transform: rotate(10.52deg);
}

.a__main .content__main {
  max-width: 1275px;
  margin: 0 auto;
  margin-top: 190px;
}

.a__main .content__main .title__box {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.a__main .content__main .info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}

.a__main .content__main .info__box .image__box img {
  width: 800px;
}

.a__main .content__main .info__box .content__box {
  margin-left: 70px;
}

.a__main .content__main .info__box .content__box p {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  color: #ffffff;
}

.founder {
  width: 100%;
  min-height: 500px;
  background-color: #000;
  position: relative;
}

.founder .founder__content {
  max-width: 1275px;
  margin: 0 auto;
  padding-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.founder .founder__content .founder__image img {
  width: 331px;
  height: 345px;
}

.founder .founder__content .founder__info {
  margin-left: 60px;
  margin-top: 30px;
  width: 440px;
}

.founder .founder__content .founder__info .founder__name {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 133%;
  text-align: justify;
  color: #ffffff;
}

.founder .founder__content .founder__info .founder__level {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 133%;
  text-align: justify;
  color: #ffffff;
  margin-top: 10px;
}

.founder .founder__content .founder__info .founder__text {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 133%;
  color: #ffffff;
  margin-top: 50px;
}

.founder .founder__bg {
  position: absolute;
  z-index: 2;
  width: 404.78px;
  height: 630.05px;
  right: 267px;
  top: -32px;
  mix-blend-mode: luminosity;
  opacity: 0.45;
  -webkit-transform: rotate(14.61deg);
          transform: rotate(14.61deg);
}

.team {
  width: 100%;
  min-height: 700px;
  background-color: #000;
  position: relative;
}

.team .in__team {
  max-width: 1275px;
  height: 100%;
  margin: 0 auto;
  padding-top: 190px;
}

.team .in__team .mySwiper2 {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.team .in__team .mySwiper2 .swiper-button-next {
  position: absolute;
  top: 19px;
  right: 0;
  color: #404040;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.team .in__team .mySwiper2 .swiper-button-next::after {
  font-size: 16px;
  display: none;
}

.team .in__team .mySwiper2 .swiper-button-next:hover {
  color: #ffffff;
}

.team .in__team .mySwiper2 .swiper-button-next i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 25px;
}

.team .in__team .mySwiper2 .swiper-button-prev {
  position: absolute;
  top: 22px;
  left: 1195px;
  color: #404040;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.team .in__team .mySwiper2 .swiper-button-prev::after {
  font-size: 16px;
  display: none;
}

.team .in__team .mySwiper2 .swiper-button-prev:hover {
  color: #ffffff;
}

.team .in__team .mySwiper2 .swiper-button-prev i {
  font-size: 25px;
}

.team .in__team .mySwiper2 .swiper-wrapper .swiper-slide {
  width: 256.55px !important;
  height: 370px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.team .in__team .mySwiper2 .swiper-wrapper .parfums__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.team .in__team .mySwiper2 .swiper-wrapper .info__parfum {
  background-color: #000 !important;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.team .in__team .mySwiper2 .swiper-wrapper .info__parfum .name__parfum {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.team .in__team .mySwiper2 .swiper-wrapper .info__parfum .price__parfum {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-top: 10px;
  color: #ffffff;
}

.contact__main {
  width: 100%;
  min-height: 40vh;
  background-color: #000;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  position: relative;
}

.contact__main .title__box {
  width: 100%;
  max-width: 1275px;
  height: 100%;
  margin: 0 auto;
}

.contact__main .title__box .title__page {
  font-family: var(--normal-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 27px;
}

.contact__main .for__swipe {
  width: 100%;
  max-width: 1275px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.contact__main .for__swipe .swiper {
  width: 100%;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide {
  width: 1240px;
  height: 680px;
  background-color: #404040;
  position: relative;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box {
  width: 368px;
  height: 360px;
  position: absolute;
  z-index: 2;
  background: linear-gradient(204.43deg, #584609 3.46%, #000000 80.25%);
  top: 160px;
  left: 67px;
  overflow: hidden;
  padding-top: 50px;
  padding-left: 36px;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box img {
  position: absolute;
  width: 250px;
  height: 236px;
  right: -92px;
  bottom: -50px;
  opacity: 0.7;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar {
  position: absolute;
  top: 50px;
  right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar .swiper-button-next {
  position: absolute;
  right: -10px;
  top: -1px;
  color: #b1b1b1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar .swiper-button-next::after {
  font-size: 16px;
  display: none;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar .swiper-button-next:hover {
  color: #ffffff;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar .swiper-button-next i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 18px;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar .swiper-button-prev {
  position: absolute;
  left: -50px;
  color: #b1b1b1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar .swiper-button-prev::after {
  font-size: 16px;
  display: none;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar .swiper-button-prev:hover {
  color: #ffffff;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .navigation__bar .swiper-button-prev i {
  font-size: 18px;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .title__address {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .address__name {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 50px;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .phone__adress {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .phone {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 50px;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .social__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .social__box .box {
  margin-right: 10px;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .social__box .box a i {
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .social__box .box a:hover i {
  color: #eccc5a;
}

.contact__main .for__swipe .swiper .swiper-wrapper .swiper-slide .info__box .social__box .box p {
  margin-bottom: 5px;
}

footer {
  width: 100%;
  min-height: 300px;
  background-color: #000;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  position: relative;
}

footer .footer__main {
  width: 100%;
  max-width: 1275px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

footer .footer__main .nav__box {
  margin-top: 20px;
}

footer .footer__main .nav__box a {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}

footer .footer__main .social__box {
  margin-top: 20px;
}

footer .footer__main .social__box p {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #ffffff;
}

footer .footer__main .social__box i {
  font-size: 25px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer .footer__main .social__box i:hover {
  color: #eccc5a;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body nav .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  body nav .nav-links li {
    opacity: 0;
  }
  body nav .burger {
    display: block;
    cursor: pointer;
  }
  body nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  body nav .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  body nav .toggle .line2 {
    opacity: 0;
  }
  body nav .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}
/*# sourceMappingURL=about-us.css.map */